.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-y7cgkd2Fj2bZ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-kt-bW5bVKbWd);
  font-family: var(--token-L-1jsHDxGDju);
  font-size: var(--token-L7Ir_URVyiaJ);
  line-height: var(--token-WKl6ymjLqai9);
  outline-style: none;
  border-radius: var(--token-51spIQUxKO_k);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-e_k44Glun49B);
  outline-offset: 1px;
  outline-color: var(--token-Bo4MVXtRy7wt);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-BsrXof7Fc4ZU);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token--iFdAG0kTqEq);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-y9cSYMeYY687);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-cKuak4X-cT0W);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jz1vZ350Znq9);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-y7cgkd2Fj2bZ);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-elcYJUGOgDEv);
  font-size: var(--token-p9Pj5r-xjdrH);
  column-gap: var(--token-e_k44Glun49B);
  row-gap: 0px;
  border-radius: var(--token-krWPNIYEaJTL);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-p9Pj5r-xjdrH);
  line-height: var(--token-elcYJUGOgDEv);
  column-gap: var(--token-krWPNIYEaJTL);
  row-gap: 0px;
  border-radius: var(--token-krWPNIYEaJTL);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-UIF5KmJt6baG);
  line-height: var(--token-S10jHI19vY_-);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-UIF5KmJt6baG);
  line-height: var(--token-S10jHI19vY_-);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-cX2ELjSfnCEC);
  border-radius: var(--token-51spIQUxKO_k);
}
.softBackgroundcolor_neutral {
  background: var(--token-nfaqNPeUC_Fo);
}
.softBackgroundcolor_muted {
  background: var(--token-2xD6Bk0xDwqL);
}
.softBackgroundcolor_success {
  background: var(--token-W4xWLvFyPuaP);
}
.softBackgroundcolor_warning {
  background: var(--token-0hPx_3hQCqFY);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-TV-6VTOeV20J);
}
.softBackgroundtype_soft {
  background: var(--token-_G4VZJOW5x5L);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.rootcolor_blue_type_bordered[data-hovered]
  .softBackgroundcolor_blue_type_bordered {
  background: var(--token-CKUFr0ZKQPU-);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-51spIQUxKO_k);
  border: 0px solid var(--token-hG1Bhy7hOY2E);
}
.bordercolor_neutral {
  border-color: var(--token-P305bsmJHuJB);
}
.bordercolor_muted {
  border-color: var(--token-301AA0WfmrKD);
}
.bordercolor_success {
  border-color: var(--token-hgSUMyRAQ8qm);
}
.bordercolor_warning {
  border-color: var(--token-cZQ95X8bZJ6B);
}
.bordercolor_errorDestructive {
  border-color: var(--token-JYZq44PSLCl8);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-51spIQUxKO_k);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-bXVLESzR4I0d);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-23s9rBy8fT6B);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-K_qbcp4p-qpr);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__waupf {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-51spIQUxKO_k) var(--token-LsiHHi4n9uhQ);
}
.freeBox__waupf > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-51spIQUxKO_k));
  width: calc(100% + var(--token-51spIQUxKO_k));
}
.freeBox__waupf > :global(.__wab_flex-container) > *,
.freeBox__waupf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__waupf > :global(.__wab_flex-container) > picture > img,
.freeBox__waupf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-51spIQUxKO_k);
}
.freeBoxsize_extraSmall__waupfvOmPj {
  padding: var(--token-krWPNIYEaJTL) var(--token-51spIQUxKO_k);
}
.freeBoxsize_small__waupfrhOjd {
  padding: var(--token-51spIQUxKO_k) var(--token-kt-bW5bVKbWd);
}
.freeBoxsize_large__waupfBrbtJ {
  padding-top: var(--token-krWPNIYEaJTL);
  padding-bottom: var(--token-krWPNIYEaJTL);
}
.freeBoxsize_extraLarge__waupfg0Jfg {
  padding: 16px 32px;
}
.freeBoxroundedFull__waupfhMm7W {
  padding-right: var(--token-uU44Jg09jSrf);
  padding-left: var(--token-uU44Jg09jSrf);
}
.freeBox__hoYb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hoYbH2BA2 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-haGO93kJl-tn);
}
.slotTargetStartcolor_neutral {
  color: var(--token-CygdDDIMujtb);
}
.slotTargetStartcolor_muted {
  color: var(--token-yEOJZ0_YQp1m);
}
.slotTargetStartcolor_success {
  color: var(--token-wZGeXNiOVH7w);
}
.slotTargetStartcolor_warning {
  color: var(--token-TqMEmsWnNtBx);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-GogacpLRyKTm);
}
.slotTargetStarttype_soft {
  color: var(--token-mYM31ZmkAK-K);
}
.slotTargetStarttype_bordered {
  color: var(--token-mYM31ZmkAK-K);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-p9Pj5r-xjdrH);
}
.slotTargetStartsize_small {
  font-size: var(--token-p9Pj5r-xjdrH);
}
.slotTargetStartsize_large {
  font-size: var(--token-UIF5KmJt6baG);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-UIF5KmJt6baG);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-0xmKxmp7FedL);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-0xmKxmp7FedL);
}
.svg__pY7Ye {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-haGO93kJl-tn);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-CygdDDIMujtb);
}
.slotTargetLabelcolor_muted {
  color: var(--token-yEOJZ0_YQp1m);
}
.slotTargetLabelcolor_success {
  color: var(--token-wZGeXNiOVH7w);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TqMEmsWnNtBx);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-GogacpLRyKTm);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-mYM31ZmkAK-K);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-0xmKxmp7FedL);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-0xmKxmp7FedL);
}
.text__njH0S {
  white-space: pre;
  color: #eeeeee;
}
.freeBox___1SenD {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1SenDohueS {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-haGO93kJl-tn);
}
.slotTargetEndcolor_neutral {
  color: var(--token-CygdDDIMujtb);
}
.slotTargetEndcolor_muted {
  color: var(--token-yEOJZ0_YQp1m);
}
.slotTargetEndcolor_success {
  color: var(--token-wZGeXNiOVH7w);
}
.slotTargetEndcolor_warning {
  color: var(--token-TqMEmsWnNtBx);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-GogacpLRyKTm);
}
.slotTargetEndtype_soft {
  color: var(--token-mYM31ZmkAK-K);
}
.slotTargetEndtype_bordered {
  color: var(--token-mYM31ZmkAK-K);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-p9Pj5r-xjdrH);
}
.slotTargetEndsize_small {
  font-size: var(--token-p9Pj5r-xjdrH);
}
.slotTargetEndsize_large {
  font-size: var(--token-UIF5KmJt6baG);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-UIF5KmJt6baG);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-CKUFr0ZKQPU-);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-F5iJ7wmS2-01);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-t4Y3mweulwPR);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-ggxbolpYaZNw);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-0xmKxmp7FedL);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-0xmKxmp7FedL);
}
.svg__yCAmB {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
