.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-YsW4ljn9zfh-);
  justify-content: center;
  align-items: center;
}
.freeBox__u2IrW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-YsW4ljn9zfh-);
  align-self: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__u2IrW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox__u2IrW > :global(.__wab_flex-container) > *,
.freeBox__u2IrW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2IrW > :global(.__wab_flex-container) > picture > img,
.freeBox__u2IrW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__u2IrW {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__u2IrW > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__u2IrW > :global(.__wab_flex-container) > *,
  .freeBox__u2IrW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u2IrW > :global(.__wab_flex-container) > picture > img,
  .freeBox__u2IrW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__zTmSz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.priceCard__szHPi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__szHPi:global(.__wab_instance) {
    margin-bottom: 28px;
    margin-top: 21px;
  }
}
.freeBox__iopKf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iopKf {
    left: auto;
    top: auto;
  }
}
.priceCard__sHkWf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__sHkWf:global(.__wab_instance) {
    margin-bottom: 28px;
    margin-top: 21px;
  }
}
