@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-YsW4ljn9zfh-: 1140px;
  --plasmic-token-content-max-width: var(--token-YsW4ljn9zfh-);
  --token-c4IbYaRYgPMQ: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-c4IbYaRYgPMQ);
  --token-W71nUz4NlU-b: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-W71nUz4NlU-b);
  --token-6KbNIooV2kF8: #92959bd9;
  --plasmic-token-light-label: var(--token-6KbNIooV2kF8);
  --token-G1Z1ctzG62XI: #05050599;
  --plasmic-token-light-secondary: var(--token-G1Z1ctzG62XI);
  --token-zG0utit7GJuA: #007aff;
  --plasmic-token-light-blue: var(--token-zG0utit7GJuA);
  --token-QAdNGOfueDSI: #ff3b30;
  --plasmic-token-light-red: var(--token-QAdNGOfueDSI);
  --token-_G4VZJOW5x5L: #ffffff;
  --plasmic-token-white: var(--token-_G4VZJOW5x5L);
  --token-qHMerl_D-dv_: #ffffffd9;
  --plasmic-token-dark-label: var(--token-qHMerl_D-dv_);
  --token-FNW4tQ9tfZQ9: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-FNW4tQ9tfZQ9);
  --token-q3gV7T1zWpRr: #0000001a;
  --plasmic-token-light-quarternary: var(--token-q3gV7T1zWpRr);
  --token-hCGuNMsj3IFz: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-hCGuNMsj3IFz);
  --token-N_9jgChJA5pk: #32d74b;
  --plasmic-token-dark-green: var(--token-N_9jgChJA5pk);
  --token-kVe3bnYZfFO3: #0a84ff;
  --plasmic-token-dark-blue: var(--token-kVe3bnYZfFO3);
  --token-lB6fuVWKGlUE: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-lB6fuVWKGlUE);
  --token-Ji4wNhBSdjG1: #34c759;
  --plasmic-token-light-green: var(--token-Ji4wNhBSdjG1);
  --token-wTGJXrFvWnbB: #5856d6;
  --plasmic-token-light-indigo: var(--token-wTGJXrFvWnbB);
  --token-y7cgkd2Fj2bZ: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-y7cgkd2Fj2bZ);
  --token-VRSKaLMhSPpz: 1240px;
  --plasmic-token-max-width-navbar: var(--token-VRSKaLMhSPpz);
  --token-0sjtWUwkL6Zf: var(--token-F5xp19E_2heo);
  --plasmic-token-unnamed-style-token-2: var(--token-0sjtWUwkL6Zf);
  --token-F5xp19E_2heo: #eeeeee80;
  --plasmic-token-grey: var(--token-F5xp19E_2heo);
  --token-Bo4MVXtRy7wt: #2563eb;
  --plasmic-token-brand-brand: var(--token-Bo4MVXtRy7wt);
  --token-kt-bW5bVKbWd: 0.5rem;
  --plasmic-token-size-8: var(--token-kt-bW5bVKbWd);
  --token-L-1jsHDxGDju: Inter;
  --plasmic-token-sans-serif: var(--token-L-1jsHDxGDju);
  --token-L7Ir_URVyiaJ: 1rem;
  --plasmic-token-font-md: var(--token-L7Ir_URVyiaJ);
  --token-WKl6ymjLqai9: 1.25;
  --plasmic-token-line-height-md: var(--token-WKl6ymjLqai9);
  --token-51spIQUxKO_k: 0.375rem;
  --plasmic-token-size-6: var(--token-51spIQUxKO_k);
  --token-BsrXof7Fc4ZU: #374151;
  --plasmic-token-neutral-neutral: var(--token-BsrXof7Fc4ZU);
  --token-jz1vZ350Znq9: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-jz1vZ350Znq9);
  --token--iFdAG0kTqEq: #6b7280;
  --plasmic-token-muted-muted: var(--token--iFdAG0kTqEq);
  --token-krWPNIYEaJTL: 0.25rem;
  --plasmic-token-size-4: var(--token-krWPNIYEaJTL);
  --token-p9Pj5r-xjdrH: 0.75rem;
  --plasmic-token-font-sm: var(--token-p9Pj5r-xjdrH);
  --token-elcYJUGOgDEv: 1;
  --plasmic-token-line-height-sm: var(--token-elcYJUGOgDEv);
  --token-UIF5KmJt6baG: 1.25rem;
  --plasmic-token-font-lg: var(--token-UIF5KmJt6baG);
  --token-S10jHI19vY_-: 1.4;
  --plasmic-token-line-height-lg: var(--token-S10jHI19vY_-);
  --token-e_k44Glun49B: 0.125rem;
  --plasmic-token-size-2: var(--token-e_k44Glun49B);
  --token-y9cSYMeYY687: #16a34a;
  --plasmic-token-success-success: var(--token-y9cSYMeYY687);
  --token-cKuak4X-cT0W: #facc15;
  --plasmic-token-warning-warning: var(--token-cKuak4X-cT0W);
  --token-cX2ELjSfnCEC: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-cX2ELjSfnCEC);
  --token-nfaqNPeUC_Fo: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-nfaqNPeUC_Fo);
  --token-2xD6Bk0xDwqL: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-2xD6Bk0xDwqL);
  --token-W4xWLvFyPuaP: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-W4xWLvFyPuaP);
  --token-0hPx_3hQCqFY: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-0hPx_3hQCqFY);
  --token-TV-6VTOeV20J: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-TV-6VTOeV20J);
  --token-hG1Bhy7hOY2E: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-hG1Bhy7hOY2E);
  --token-P305bsmJHuJB: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-P305bsmJHuJB);
  --token-301AA0WfmrKD: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-301AA0WfmrKD);
  --token-hgSUMyRAQ8qm: #86efac;
  --plasmic-token-success-success-border: var(--token-hgSUMyRAQ8qm);
  --token-cZQ95X8bZJ6B: #fde047;
  --plasmic-token-warning-warning-border: var(--token-cZQ95X8bZJ6B);
  --token-JYZq44PSLCl8: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-JYZq44PSLCl8);
  --token-bXVLESzR4I0d: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-bXVLESzR4I0d);
  --token-23s9rBy8fT6B: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-23s9rBy8fT6B);
  --token-K_qbcp4p-qpr: #00000033;
  --plasmic-token-interaction-pressed: var(--token-K_qbcp4p-qpr);
  --token-LsiHHi4n9uhQ: 0.625rem;
  --plasmic-token-size-10: var(--token-LsiHHi4n9uhQ);
  --token-uU44Jg09jSrf: 0.75rem;
  --plasmic-token-size-12: var(--token-uU44Jg09jSrf);
  --token-haGO93kJl-tn: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-haGO93kJl-tn);
  --token-CygdDDIMujtb: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-CygdDDIMujtb);
  --token-yEOJZ0_YQp1m: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-yEOJZ0_YQp1m);
  --token-mYM31ZmkAK-K: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-mYM31ZmkAK-K);
  --token-TqMEmsWnNtBx: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-TqMEmsWnNtBx);
  --token-wZGeXNiOVH7w: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-wZGeXNiOVH7w);
  --token-GogacpLRyKTm: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-GogacpLRyKTm);
  --token-CKUFr0ZKQPU-: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-CKUFr0ZKQPU-);
  --token-F5iJ7wmS2-01: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-F5iJ7wmS2-01);
  --token-t4Y3mweulwPR: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-t4Y3mweulwPR);
  --token-ggxbolpYaZNw: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-ggxbolpYaZNw);
  --token-0xmKxmp7FedL: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-0xmKxmp7FedL
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-G8Pp4_VHEcOG_font-family: "Montserrat", sans-serif;
  --mixin-G8Pp4_VHEcOG_font-size: 24px;
  --mixin-G8Pp4_VHEcOG_font-weight: 500;
  --mixin-G8Pp4_VHEcOG_font-style: normal;
  --mixin-G8Pp4_VHEcOG_color: #00000080;
  --mixin-G8Pp4_VHEcOG_text-align: left;
  --mixin-G8Pp4_VHEcOG_text-transform: none;
  --mixin-G8Pp4_VHEcOG_line-height: 1.5;
  --mixin-G8Pp4_VHEcOG_letter-spacing: normal;
  --mixin-G8Pp4_VHEcOG_white-space: pre-wrap;
  --mixin-G8Pp4_VHEcOG_user-select: text;
  --mixin-G8Pp4_VHEcOG_text-decoration-line: none;
  --mixin-G8Pp4_VHEcOG_text-overflow: clip;
  --mixin-JjnHkQC7QRV0_white-space: pre-wrap;
  --mixin-PxzVtu6Y8qcU_font-family: "Montserrat", sans-serif;
  --mixin-PxzVtu6Y8qcU_color: #ffffff;
  --mixin-PxzVtu6Y8qcU_font-size: 72px;
  --mixin-PxzVtu6Y8qcU_font-weight: 700;
  --mixin-PxzVtu6Y8qcU_line-height: 88px;
  --mixin-PxzVtu6Y8qcU_white-space: pre-wrap;
  --mixin-G1pHsKHfG7TV_font-family: "Inter", sans-serif;
  --mixin-G1pHsKHfG7TV_color: #000000;
  --mixin-G1pHsKHfG7TV_font-size: 36px;
  --mixin-G1pHsKHfG7TV_font-weight: 700;
  --mixin-G1pHsKHfG7TV_line-height: 43px;
  --mixin-G1pHsKHfG7TV_text-align: center;
  --mixin-G1pHsKHfG7TV_white-space: pre-wrap;
  --mixin-Pf-vNyFs6ETA_font-family: "Inter", sans-serif;
  --mixin-Pf-vNyFs6ETA_color: #000000;
  --mixin-Pf-vNyFs6ETA_font-size: 24px;
  --mixin-Pf-vNyFs6ETA_font-weight: 600;
  --mixin-Pf-vNyFs6ETA_letter-spacing: -0.5px;
  --mixin-Pf-vNyFs6ETA_line-height: 1.3;
  --mixin-Pf-vNyFs6ETA_white-space: pre-wrap;
  --mixin-eTEWq2GWbkdG_font-family: "Montserrat", sans-serif;
  --mixin-eTEWq2GWbkdG_color: #185adb;
  --mixin-eTEWq2GWbkdG_font-size: 24px;
  --mixin-eTEWq2GWbkdG_font-weight: 700;
  --mixin-eTEWq2GWbkdG_line-height: 29px;
  --mixin-eTEWq2GWbkdG_text-align: center;
  --mixin-eTEWq2GWbkdG_white-space: pre-wrap;
  --mixin-4kl7rao9AA5Z_font-family: "Inter", sans-serif;
  --mixin-4kl7rao9AA5Z_color: #000000;
  --mixin-4kl7rao9AA5Z_font-size: 16px;
  --mixin-4kl7rao9AA5Z_font-weight: 600;
  --mixin-4kl7rao9AA5Z_line-height: 1.5;
  --mixin-4kl7rao9AA5Z_white-space: pre-wrap;
  --mixin-ruCIR0yRHQqT_border-left-color: #dddddd;
  --mixin-ruCIR0yRHQqT_border-left-style: solid;
  --mixin-ruCIR0yRHQqT_border-left-width: 3px;
  --mixin-ruCIR0yRHQqT_color: #888888;
  --mixin-ruCIR0yRHQqT_padding-left: 10px;
  --mixin-ruCIR0yRHQqT_white-space: pre-wrap;
  --mixin-iz94n4dX9nUj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iz94n4dX9nUj_border-bottom-color: #dddddd;
  --mixin-iz94n4dX9nUj_border-bottom-style: solid;
  --mixin-iz94n4dX9nUj_border-bottom-width: 1px;
  --mixin-iz94n4dX9nUj_border-left-color: #dddddd;
  --mixin-iz94n4dX9nUj_border-left-style: solid;
  --mixin-iz94n4dX9nUj_border-left-width: 1px;
  --mixin-iz94n4dX9nUj_border-right-color: #dddddd;
  --mixin-iz94n4dX9nUj_border-right-style: solid;
  --mixin-iz94n4dX9nUj_border-right-width: 1px;
  --mixin-iz94n4dX9nUj_border-top-color: #dddddd;
  --mixin-iz94n4dX9nUj_border-top-style: solid;
  --mixin-iz94n4dX9nUj_border-top-width: 1px;
  --mixin-iz94n4dX9nUj_border-bottom-left-radius: 3px;
  --mixin-iz94n4dX9nUj_border-bottom-right-radius: 3px;
  --mixin-iz94n4dX9nUj_border-top-left-radius: 3px;
  --mixin-iz94n4dX9nUj_border-top-right-radius: 3px;
  --mixin-iz94n4dX9nUj_font-family: "Inconsolata";
  --mixin-iz94n4dX9nUj_padding-bottom: 1px;
  --mixin-iz94n4dX9nUj_padding-left: 4px;
  --mixin-iz94n4dX9nUj_padding-right: 4px;
  --mixin-iz94n4dX9nUj_padding-top: 1px;
  --mixin-iz94n4dX9nUj_white-space: pre-wrap;
  --mixin-7WhrdB_0qWGP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7WhrdB_0qWGP_border-bottom-color: #dddddd;
  --mixin-7WhrdB_0qWGP_border-bottom-style: solid;
  --mixin-7WhrdB_0qWGP_border-bottom-width: 1px;
  --mixin-7WhrdB_0qWGP_border-left-color: #dddddd;
  --mixin-7WhrdB_0qWGP_border-left-style: solid;
  --mixin-7WhrdB_0qWGP_border-left-width: 1px;
  --mixin-7WhrdB_0qWGP_border-right-color: #dddddd;
  --mixin-7WhrdB_0qWGP_border-right-style: solid;
  --mixin-7WhrdB_0qWGP_border-right-width: 1px;
  --mixin-7WhrdB_0qWGP_border-top-color: #dddddd;
  --mixin-7WhrdB_0qWGP_border-top-style: solid;
  --mixin-7WhrdB_0qWGP_border-top-width: 1px;
  --mixin-7WhrdB_0qWGP_border-bottom-left-radius: 3px;
  --mixin-7WhrdB_0qWGP_border-bottom-right-radius: 3px;
  --mixin-7WhrdB_0qWGP_border-top-left-radius: 3px;
  --mixin-7WhrdB_0qWGP_border-top-right-radius: 3px;
  --mixin-7WhrdB_0qWGP_font-family: "Inconsolata";
  --mixin-7WhrdB_0qWGP_padding-bottom: 3px;
  --mixin-7WhrdB_0qWGP_padding-left: 6px;
  --mixin-7WhrdB_0qWGP_padding-right: 6px;
  --mixin-7WhrdB_0qWGP_padding-top: 3px;
  --mixin-7WhrdB_0qWGP_white-space: pre-wrap;
  --mixin-1mxUWLWlCYDv_display: flex;
  --mixin-1mxUWLWlCYDv_flex-direction: column;
  --mixin-1mxUWLWlCYDv_align-items: stretch;
  --mixin-1mxUWLWlCYDv_justify-content: flex-start;
  --mixin-1mxUWLWlCYDv_list-style-position: outside;
  --mixin-1mxUWLWlCYDv_padding-left: 40px;
  --mixin-1mxUWLWlCYDv_position: relative;
  --mixin-1mxUWLWlCYDv_list-style-type: decimal;
  --mixin-1mxUWLWlCYDv_white-space: pre-wrap;
  --mixin-0qpHxHXZXAaX_display: flex;
  --mixin-0qpHxHXZXAaX_flex-direction: column;
  --mixin-0qpHxHXZXAaX_align-items: stretch;
  --mixin-0qpHxHXZXAaX_justify-content: flex-start;
  --mixin-0qpHxHXZXAaX_list-style-position: outside;
  --mixin-0qpHxHXZXAaX_padding-left: 40px;
  --mixin-0qpHxHXZXAaX_position: relative;
  --mixin-0qpHxHXZXAaX_list-style-type: disc;
  --mixin-0qpHxHXZXAaX_white-space: pre-wrap;
  --mixin-ziaCm4FLOhm2_color: #000000;
  --mixin-ziaCm4FLOhm2_font-family: "Montserrat", sans-serif;
  --mixin-ziaCm4FLOhm2_font-size: 64px;
  --mixin-ziaCm4FLOhm2_font-weight: 700;
  --mixin-ziaCm4FLOhm2_line-height: 78px;
  --mixin-ziaCm4FLOhm2_text-align: center;
  --mixin-ziaCm4FLOhm2_white-space: pre-wrap;
  --mixin-WHNtlq2DCzhm_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-G8Pp4_VHEcOG_font-size: 16px;
    --mixin-G8Pp4_VHEcOG_line-height: 27px;
    --mixin-G8Pp4_VHEcOG_white-space: pre-wrap;
    --mixin-PxzVtu6Y8qcU_font-size: 40px;
    --mixin-PxzVtu6Y8qcU_line-height: 48px;
    --mixin-PxzVtu6Y8qcU_white-space: pre-wrap;
    --mixin-ziaCm4FLOhm2_font-size: 28px;
    --mixin-ziaCm4FLOhm2_line-height: 34px;
    --mixin-ziaCm4FLOhm2_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-Q_3LwK5WFzfG_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-Q_3LwK5WFzfG_white-space);
  --mixin-QyqoUS8VR-pn_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-QyqoUS8VR-pn_box-shadow
  );
  --mixin-QyqoUS8VR-pn_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-QyqoUS8VR-pn_white-space
  );
  --mixin-6X5-nwYmq-qU_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-6X5-nwYmq-qU_white-space);
  --mixin-eU_F5WfDhGPr_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-eU_F5WfDhGPr_white-space
  );
  --mixin-fiYd2n_6g2H7_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-fiYd2n_6g2H7_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-G8Pp4_VHEcOG_font-family);
  font-size: var(--mixin-G8Pp4_VHEcOG_font-size);
  font-weight: var(--mixin-G8Pp4_VHEcOG_font-weight);
  font-style: var(--mixin-G8Pp4_VHEcOG_font-style);
  color: var(--mixin-G8Pp4_VHEcOG_color);
  text-align: var(--mixin-G8Pp4_VHEcOG_text-align);
  text-transform: var(--mixin-G8Pp4_VHEcOG_text-transform);
  line-height: var(--mixin-G8Pp4_VHEcOG_line-height);
  letter-spacing: var(--mixin-G8Pp4_VHEcOG_letter-spacing);
  white-space: var(--mixin-G8Pp4_VHEcOG_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-PxzVtu6Y8qcU_font-family);
  color: var(--mixin-PxzVtu6Y8qcU_color);
  font-size: var(--mixin-PxzVtu6Y8qcU_font-size);
  font-weight: var(--mixin-PxzVtu6Y8qcU_font-weight);
  line-height: var(--mixin-PxzVtu6Y8qcU_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-G1pHsKHfG7TV_font-family);
  color: var(--mixin-G1pHsKHfG7TV_color);
  font-size: var(--mixin-G1pHsKHfG7TV_font-size);
  font-weight: var(--mixin-G1pHsKHfG7TV_font-weight);
  line-height: var(--mixin-G1pHsKHfG7TV_line-height);
  text-align: var(--mixin-G1pHsKHfG7TV_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Pf-vNyFs6ETA_font-family);
  color: var(--mixin-Pf-vNyFs6ETA_color);
  font-size: var(--mixin-Pf-vNyFs6ETA_font-size);
  font-weight: var(--mixin-Pf-vNyFs6ETA_font-weight);
  letter-spacing: var(--mixin-Pf-vNyFs6ETA_letter-spacing);
  line-height: var(--mixin-Pf-vNyFs6ETA_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-eTEWq2GWbkdG_font-family);
  color: var(--mixin-eTEWq2GWbkdG_color);
  font-size: var(--mixin-eTEWq2GWbkdG_font-size);
  font-weight: var(--mixin-eTEWq2GWbkdG_font-weight);
  line-height: var(--mixin-eTEWq2GWbkdG_line-height);
  text-align: var(--mixin-eTEWq2GWbkdG_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-4kl7rao9AA5Z_font-family);
  color: var(--mixin-4kl7rao9AA5Z_color);
  font-size: var(--mixin-4kl7rao9AA5Z_font-size);
  font-weight: var(--mixin-4kl7rao9AA5Z_font-weight);
  line-height: var(--mixin-4kl7rao9AA5Z_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ruCIR0yRHQqT_color);
  padding-left: var(--mixin-ruCIR0yRHQqT_padding-left);
  border-left: var(--mixin-ruCIR0yRHQqT_border-left-width)
    var(--mixin-ruCIR0yRHQqT_border-left-style)
    var(--mixin-ruCIR0yRHQqT_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-iz94n4dX9nUj_font-family);
  border-radius: var(--mixin-iz94n4dX9nUj_border-top-left-radius)
    var(--mixin-iz94n4dX9nUj_border-top-right-radius)
    var(--mixin-iz94n4dX9nUj_border-bottom-right-radius)
    var(--mixin-iz94n4dX9nUj_border-bottom-left-radius);
  padding: var(--mixin-iz94n4dX9nUj_padding-top)
    var(--mixin-iz94n4dX9nUj_padding-right)
    var(--mixin-iz94n4dX9nUj_padding-bottom)
    var(--mixin-iz94n4dX9nUj_padding-left);
  border-top: var(--mixin-iz94n4dX9nUj_border-top-width)
    var(--mixin-iz94n4dX9nUj_border-top-style)
    var(--mixin-iz94n4dX9nUj_border-top-color);
  border-right: var(--mixin-iz94n4dX9nUj_border-right-width)
    var(--mixin-iz94n4dX9nUj_border-right-style)
    var(--mixin-iz94n4dX9nUj_border-right-color);
  border-bottom: var(--mixin-iz94n4dX9nUj_border-bottom-width)
    var(--mixin-iz94n4dX9nUj_border-bottom-style)
    var(--mixin-iz94n4dX9nUj_border-bottom-color);
  border-left: var(--mixin-iz94n4dX9nUj_border-left-width)
    var(--mixin-iz94n4dX9nUj_border-left-style)
    var(--mixin-iz94n4dX9nUj_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7WhrdB_0qWGP_font-family);
  border-radius: var(--mixin-7WhrdB_0qWGP_border-top-left-radius)
    var(--mixin-7WhrdB_0qWGP_border-top-right-radius)
    var(--mixin-7WhrdB_0qWGP_border-bottom-right-radius)
    var(--mixin-7WhrdB_0qWGP_border-bottom-left-radius);
  padding: var(--mixin-7WhrdB_0qWGP_padding-top)
    var(--mixin-7WhrdB_0qWGP_padding-right)
    var(--mixin-7WhrdB_0qWGP_padding-bottom)
    var(--mixin-7WhrdB_0qWGP_padding-left);
  border-top: var(--mixin-7WhrdB_0qWGP_border-top-width)
    var(--mixin-7WhrdB_0qWGP_border-top-style)
    var(--mixin-7WhrdB_0qWGP_border-top-color);
  border-right: var(--mixin-7WhrdB_0qWGP_border-right-width)
    var(--mixin-7WhrdB_0qWGP_border-right-style)
    var(--mixin-7WhrdB_0qWGP_border-right-color);
  border-bottom: var(--mixin-7WhrdB_0qWGP_border-bottom-width)
    var(--mixin-7WhrdB_0qWGP_border-bottom-style)
    var(--mixin-7WhrdB_0qWGP_border-bottom-color);
  border-left: var(--mixin-7WhrdB_0qWGP_border-left-width)
    var(--mixin-7WhrdB_0qWGP_border-left-style)
    var(--mixin-7WhrdB_0qWGP_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1mxUWLWlCYDv_display);
  flex-direction: var(--mixin-1mxUWLWlCYDv_flex-direction);
  align-items: var(--mixin-1mxUWLWlCYDv_align-items);
  justify-content: var(--mixin-1mxUWLWlCYDv_justify-content);
  list-style-position: var(--mixin-1mxUWLWlCYDv_list-style-position);
  padding-left: var(--mixin-1mxUWLWlCYDv_padding-left);
  position: var(--mixin-1mxUWLWlCYDv_position);
  list-style-type: var(--mixin-1mxUWLWlCYDv_list-style-type);
  flex-column-gap: var(--mixin-1mxUWLWlCYDv_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-0qpHxHXZXAaX_display);
  flex-direction: var(--mixin-0qpHxHXZXAaX_flex-direction);
  align-items: var(--mixin-0qpHxHXZXAaX_align-items);
  justify-content: var(--mixin-0qpHxHXZXAaX_justify-content);
  list-style-position: var(--mixin-0qpHxHXZXAaX_list-style-position);
  padding-left: var(--mixin-0qpHxHXZXAaX_padding-left);
  position: var(--mixin-0qpHxHXZXAaX_position);
  list-style-type: var(--mixin-0qpHxHXZXAaX_list-style-type);
  flex-column-gap: var(--mixin-0qpHxHXZXAaX_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ziaCm4FLOhm2_color);
  font-family: var(--mixin-ziaCm4FLOhm2_font-family);
  font-size: var(--mixin-ziaCm4FLOhm2_font-size);
  font-weight: var(--mixin-ziaCm4FLOhm2_font-weight);
  line-height: var(--mixin-ziaCm4FLOhm2_line-height);
  text-align: var(--mixin-ziaCm4FLOhm2_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
